.p-container {
    margin-top: 10%;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar {
    float: left;
    padding-right: 20px;
}

.edit {
    margin-top: 50px;
    text-align: center;
}

.title {
    font-family: sans-serif;
    color: #FF7043;
}

.button{
    margin: 12px;
}

.check {
    max-width: 60px;
    text-align: center;
    margin: auto;
}