.profiles-container {
    margin-top: 10%;
}

.profiles-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profiles-avatar {
    float: left;
    padding-right: 20px;
}

.profiles-title {
    font-family: sans-serif;
    color: rgb(32, 26, 24);
}