.p-container {
    margin-top: 10%;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar {
    float: left;
    padding-right: 20px;
}

.title {
    font-family: sans-serif;
    color: rgb(32, 26, 24);
}