.container {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.flag {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    left: 32px;
    right: 32px;
    bottom: 0;
    z-index: 59;
    position: absolute;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}