.videos-container {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);   
}

.videos-monitor {
    height: 40px;
    margin-top: -5px;
}

.video-monitor {
    border: 1px solid lightgrey;
}

.videos-flag {
    float: right;
    padding-top: 3px;
    font-family: sans-serif;
    color: #808080;
}

.play-video {
    margin-top: 1%;
    width: 100%;
    height: 60%;
    text-align: center;
}

.play-recommended {
    margin-top: 5%;
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.play-recommended__video {
    flex: 0 0 auto;
    margin-right: 3px;
}