.user-edit {
    margin-top: 50px;
    text-align: center;
}

.user-paper {
    margin: auto;
    width: 30%;
    padding: 50px;
}

.user-title {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.user-button{
    margin: 12px;
}

.user-check {
    max-width: 60px;
    text-align: center;
    margin: auto;
}

.user-container {
    margin-top: 10%;
    margin-left: 40%;
}

.user-role__radiogroup {
    text-align: left;
    margin-left: 2em;
    margin-top: 2em;
}

.user-role__radio {
    margin-bottom: 16px;
}

.user-role__done {
    margin-left: 5em;
}