.edit {
    margin-top: 50px;
    text-align: center;
}

.edit-paper {
    margin: auto;
    width: 30%;
    padding: 50px;
}

.edit-title {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.button{
    margin: 12px;
}

.check {
    max-width: 60px;
    text-align: center;
    margin: auto;
}