.settings-container {
    text-align: center;
    margin-top: 50px;
}

.settings-paper {
    margin: auto;
    width: 40%;
    padding: 50px;
}

.settings-title {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.caption {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.profile {
    margin-top: 40px;
    display: block;
}

.button{
    margin: 12px;
}

.check {
    max-width: 60px;
    text-align: center;
    margin: auto;
}