.container {
    text-align: center;
}

.title {
    font-family: sans-serif;
    color: #FF7043;
}

.caption {
    font-family: sans-serif;
    color: gray;
}

.profile {
    margin-top: 40px;
    display: block;
}

.button{
    margin: 12px;
}

.check {
    max-width: 60px;
    text-align: center;
    margin: auto;
}