.p-container {
    margin-top: 10%;
    padding-left: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar {
    float: left;
    padding-right: 20px;
}

.m-caption {
    font-family: sans-serif;
    color: darkgray;
    text-align: center;
    margin-top: 5%;
}