.auth-container {
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.auth-msg {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.5em;
    font-weight: 400;
}

.auth-msg__welcome {
    font-size: 28px;
}

.auth-msg__signin {
    font-size: 18px;
}